@charset "UTF-8";

#arrow{
    position:relative;
    display: inline-block;
	margin-left:68%;
	margin-top:-70px;
    width:38px;


}

select::-ms-expand{ display: none; }

#WPlist{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/arrowbelow.png) no-repeat scroll right rgba(255, 255, 255, 0.65);
    height: 50px;
    width: 600px;
    margin-left: 440px;
    margin-top: 35px;
    padding-right: 14px;
    background-size: 20px;
    background-position-x: 560px;
    border-radius: 25px;
    border:0;
}

option::-ms-expand{ display: none; }
option{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    appearance:none;
    
}

option:hover{
    color:#fff;
    background-color:#1E90FF;
    height:50px;
}



#Popular{
   
    width: 100%;
    height: 100px;
    color: blue;
    margin-top: 160px;
}

.circle {
    background: rgba(255, 255, 255, 0.65);
    height: 60px;
    width: 60px;			
    -moz-border-radius: 30px;
    -webkit-border-radius:30px;
    border-radius: 30px;
}

#cir1{
	margin-left:39%;
	display:inline-block;
}

#cir2{
	margin-left:5%;
	display:inline-block;
}

#cir3{
    display:inline-block;
    margin-left:5%;
}

#writingImg
{
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    
	
	
}

#writing{
    display:inline-block;
    color:white;
    margin-left:39.5%;
    margin-top:5px;
}
#grammar{
    display:inline-block;
    color:white;
    margin-left:6%;
}
#speaking{
    display:inline-block;
    color:white;
    margin-left:5%;
}
body{
  margin-top:80px;
   
 background-position:100%;
 background: url(../img/pic1.jpg) no-repeat; 
   background-size: cover; 
   background-attachment:fixed;
 

}


#footer{
	position:fixed;
	
	margin-top: 5%; 
	z-index: 100;
    width: 100%;
    height: 50px;
    bottom:0;
    left:0;
 	background-color:black;     
}